Schemas/BAMschema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/BAMschema" xmlns:tns="http://www.example.org/BAMschema" elementFormDefault="qualified">

<complexType name="employee">
<sequence>
<element name="name"   type="string"></element>
<element name="email"  type="string"></element>
<element name="age"    type="integer"></element>
<element name="city"   type="string"></element>
<element name="salary" type="integer"></element>
</sequence>
</complexType>   
</schema>

